spring:
  application:
    name: ms-clientes

server:
  port: 8082

spring:
  datasource:
    url: jdbc:h2:mem:db_clientes
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8085/realms/tpi-backend
          jwk-set-uri: http://localhost:8085/realms/tpi-backend/protocol/openid-connect/certs

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
